body{   
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.Image {
    width: 1000PX;
    height: 1000PX;
    padding-top: 700px;
    position: relative;
    justify-content: center;
    display: flex;
    margin: 0 auto;
}

#Play {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 145px;
    left: 170px;
    padding-top: 700px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
}

#Play:hover {
    transform: scale(1.1);
}

p {
    position: absolute;
    padding-top: 700px;
    top: 330px;
    width: 500px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    
}

#bluey{
    position: absolute;
    width:180px;
    top:650px;
    left:300px;
    padding-top: 700px;
}

#pinkie{
    position: absolute;
    width:200px;
    top:200px;
    right:-144px;
    padding-top: 700px;
}